<a href="https://colab.research.google.com/github/soni-sktech/acclaimo/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3

# -----------------------------
# Step 1: Load orders data (CSV)
# -----------------------------
orders_df = pd.read_csv("orders.csv")
orders_df.head()


# -----------------------------
# Step 2: Load users data (JSON)
# -----------------------------
users_df = pd.read_json("users.json")
users_df.head()


# -----------------------------
# Step 3: Load restaurant data (SQL)
# -----------------------------
# create database connection
connection = sqlite3.connect("restaurants.db")
db_cursor = connection.cursor()

# read SQL file
with open("restaurants.sql", "r") as file:
    restaurant_sql = file.read()

# remove old table if exists
db_cursor.execute("DROP TABLE IF EXISTS restaurants;")
connection.commit()

# create table and insert data
db_cursor.executescript(restaurant_sql)
connection.commit()

# read restaurant table into pandas
restaurants_df = pd.read_sql(
    "SELECT * FROM restaurants",
    connection
)

restaurants_df.head()


# -----------------------------
# Step 4: Merge datasets
# -----------------------------
# merge orders with users
orders_with_users = orders_df.merge(
    users_df,
    on="user_id",
    how="left"
)

# merge the result with restaurants
final_dataset = orders_with_users.merge(
    restaurants_df,
    on="restaurant_id",
    how="left"
)

final_dataset.head()


# -----------------------------
# Step 5: Save final dataset
# -----------------------------
final_dataset.to_csv(
    "final_food_delivery_dataset.csv",
    index=False
)

In [2]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")


gold_df = df[df["membership"] == "Gold"]


city_revenue = gold_df.groupby("city")["total_amount"].sum()

print(city_revenue)
print("Highest revenue city:", city_revenue.idxmax())

city
Bangalore     994702.59
Chennai      1080909.79
Hyderabad     896740.19
Pune         1003012.32
Name: total_amount, dtype: float64
Highest revenue city: Chennai

In [3]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")


avg_cuisine_value = df.groupby("cuisine")["total_amount"].mean()

print(avg_cuisine_value)
print("Highest average cuisine:", avg_cuisine_value.idxmax())

cuisine
Chinese    798.389020
Indian     798.466011
Italian    799.448578
Mexican    808.021344
Name: total_amount, dtype: float64
Highest average cuisine: Mexican

In [4]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")


user_spending = df.groupby("user_id")["total_amount"].sum()


users_above_1000 = user_spending[user_spending > 1000]

print(users_above_1000.count())

2544

In [5]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

df["rating_range"] = pd.cut(
    df["rating"],
    bins=[3.0, 3.5, 4.0, 4.5, 5.0],
    labels=["3.0-3.5", "3.6-4.0", "4.1-4.5", "4.6-5.0"]
)

rating_revenue = df.groupby("rating_range")["total_amount"].sum()

print(rating_revenue)
print(rating_revenue.idxmax())

rating_range
3.0-3.5    1881754.57
3.6-4.0    1717494.41
4.1-4.5    1960326.26
4.6-5.0    2197030.75
Name: total_amount, dtype: float64
4.6-5.0

/tmp/ipython-input-329695240.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rating_revenue = df.groupby("rating_range")["total_amount"].sum()

In [6]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_df = df[df["membership"] == "Gold"]

avg_city_value = gold_df.groupby("city")["total_amount"].mean()

print(avg_city_value)
print(avg_city_value.idxmax())

city
Bangalore    793.223756
Chennai      808.459080
Hyderabad    806.421034
Pune         781.162243
Name: total_amount, dtype: float64
Chennai

In [7]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

restaurant_count = df.groupby("cuisine")["restaurant_id"].nunique()
cuisine_revenue = df.groupby("cuisine")["total_amount"].sum()

print(restaurant_count)
print(cuisine_revenue)

cuisine
Chinese    120
Indian     126
Italian    126
Mexican    128
Name: restaurant_id, dtype: int64
cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

In [8]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

total_orders = df.shape[0]

gold_orders = df[df["membership"] == "Gold"].shape[0]

percentage_gold = (gold_orders / total_orders) * 100

print(round(percentage_gold))

50

In [10]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

combination_revenue = df.groupby(
    ["membership", "cuisine"]
)["total_amount"].sum()

print(combination_revenue)

print(combination_revenue.idxmax())

membership  cuisine
Gold        Chinese     977713.74
            Indian      979312.31
            Italian    1005779.05
            Mexican    1012559.79
Regular     Chinese     952790.91
            Indian      992100.27
            Italian    1018424.75
            Mexican    1072943.30
Name: total_amount, dtype: float64
('Regular', 'Mexican')

In [15]:
import pandas as pd

print(
    pd.read_csv("final_food_delivery_dataset.csv")
      .groupby("restaurant_name_y")
      .filter(lambda x: len(x) < 20)
      .groupby("restaurant_name_y")["total_amount"]
      .mean()
      .idxmax()
)

Restaurant_294

In [11]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

df = df[
    ((df["membership"] == "Gold") & (df["cuisine"].isin(["Indian", "Italian"]))) |
    ((df["membership"] == "Regular") & (df["cuisine"].isin(["Indian", "Chinese"])))
]

result = df.groupby(
    ["membership", "cuisine"]
)["total_amount"].sum()

print(result)
print(result.idxmax())

membership  cuisine
Gold        Indian      979312.31
            Italian    1005779.05
Regular     Chinese     952790.91
            Indian      992100.27
Name: total_amount, dtype: float64
('Gold', 'Italian')

In [16]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

df["order_date"] = pd.to_datetime(df["order_date"])

df["quarter"] = df["order_date"].dt.quarter

quarter_revenue = df.groupby("quarter")["total_amount"].sum()

print(quarter_revenue)
print(quarter_revenue.idxmax())

quarter
1    2010626.64
2    1945348.72
3    2037385.10
4    2018263.66
Name: total_amount, dtype: float64
3

/tmp/ipython-input-106072547.py:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["order_date"] = pd.to_datetime(df["order_date"])

In [17]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_orders = df[df["membership"] == "Gold"].shape[0]

print(gold_orders)

4987

In [18]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

hyd_revenue = df[df["city"] == "Hyderabad"]["total_amount"].sum()

print(round(hyd_revenue))

1889367

In [19]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

print(df["user_id"].nunique())

2883

In [20]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

avg_value = df[df["membership"] == "Gold"]["total_amount"].mean()

print(round(avg_value, 2))

797.15

In [21]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

high_rating_orders = df[df["rating"] >= 4.5].shape[0]

print(high_rating_orders)

3374

In [22]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

gold_df = df[df["membership"] == "Gold"]

city_revenue = gold_df.groupby("city")["total_amount"].sum()

top_city = city_revenue.idxmax()

order_count = gold_df[gold_df["city"] == top_city].shape[0]

print(order_count)

1337